body {
    background-color: azure;
}

.nav-link {
    color: azure;
    border-radius: 5px;
}

.nav-link:hover {
    color: rgb(0, 0, 114);
}

.nav-link.active {
    color: rgb(0, 0, 80);
}

.action {
    border: 2px solid inherit;
    background-color: azure;
    color: black;
}

.action:hover {
    color: azure;
}

.connexion, .inscription {
    margin: auto;
    color: black;
    border: 2px solid inherit;
    background-color: azure;
}

.connexion:hover, .inscription:hover {
    color: white;
    border: 2px solid inherit;
}

img {
    border: 2px solid blue;
    border-radius: 5px;
    width: 300px;
}